<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toggle</title>
</head>

<!-- Can put follow html code at the bottom or top of the html body of any training course  -->
<!-- 20240921 This template is located in template folder -->
<body>
    <details>
        <!-- summary is the title of toggle switch -->
        <!-- you can change the toggle title below -->
        <summary>Hot Key</summary>
    
        <a href="https://www.w3schools.com//">Web Library</a>
        <p style="font-family: Arial, sans-serif; font-style: normal;">
            <!-- you may type any notes below  -->
            direct type hn or p, will show up pull down menu <br>
            double click on hn or p to change it
        </p>
    </details>
</body>
</html>