<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar Example</title>
    <link rel="stylesheet" href="./style_navibar.css">

</head>

<body>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li>
                <a href="#about.html">About Us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>


    <!-- <p><a href="#about">Go to About Section</a></p> -->
    
    <!-- Other content -->
    <section>
        <h2>Other Content</h2>
        <p>This is some other content on the page.</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
    </section>
    
    <!-- Target Section -->
    <section id="about">
        <h2>About Us</h2>
        <p>This section contains information about us.</p>
    </section>

</body>

</html>