<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <link rel="stylesheet" href="style_button.css">
</head>

<body>
    <div class="banner">
        <img src="https://img.freepik.com/premium-photo/wide-banner-with-many-random-square-hexagons-charcoal-dark-black-color_105589-1820.jpg"
            alt="Banner Image">
        <div class="text1">
            Website Home Work <br><br><br><br>
        </div> <!-- Text overlay -->
        <div class="text1">
            01-Button
        </div> <!-- Text overlay -->
        <div class="text2">
            2024年下學期 Python 班
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;郭嘉雯老師 指導

        </div> <!-- Text overlay -->
    </div>
    <br>
    <nav>
        <ul>
            <li><a href="#home" class="buton">Home</a></li>
            <li><a href="#about" class="button">About Us</a></li>
            <li><a href="#services" class="button">Services</a></li>
            <li><a href="#blog" class="button">Blog</a></li>
            <li><a href="#contact" class="button">Contact Us</a></li>
        </ul>
        <br>
    </nav>

    <a href="https://www.w3schools.com/">W3 School</a><br>
    <a href="https://www.freecodecamp.org/learn">freeCodeCamp</a><br>
    <a href="https://developer.mozilla.org/zh-CN/">MDN</a><br>
    <a href="https://www.youtube.com/user/learncodeacademy">LearnCode.academy</a><br>
    <a href="https://pixabay.com/">pixabay</a><br>
    <a href="https://www.freepik.com/">freepik</a><br>

    

        <!-- details is the toggle switch -->
        <!-- details is the toggle switch -->
        <details>
            <!-- summary is the title of toggle switch -->
            <!-- you can change the toggle title below -->
            <summary>Notes for Button Usage</summary>
            <p style="font-family: Arial, sans-serif; font-style: normal;">
                <!-- you may type any notes below  -->
                The vertical buttons will hyperlink to useful websites which will assist out training courses.
            </p>
            <a href="https://www.w3schools.com//">Web Library</a>
            <p style="font-family: Arial, sans-serif; font-style: normal;">
                <!-- you may type any notes below  -->
                The navigate buttons will anchor link to the related button function on this front page down below.
            </p>

        </details>

    <!-- Content above the About section -->
    <div style="height: 800px;">
        <h1>Welcome to Our Website</h1>
        <p>Scroll down to learn more about us.</p>
    </div>
    
    <!-- Target Section -->
    <div id="home">
        <h2>HOME</h2>
        <p>只是前進校長電信包裝就是東方把它，也是進去，美元帶著，十二矛盾升級有時否則配合正式警告公斤警察要求，健康運動最好的，版權所有，點點儀器條例，力量如有人生時候一份詳細訊息沉默之後瞭解不是促銷只是隨後，過去特色尋找某種記得運作新臺幣老闆開始偉大機場觀察，事件。</p>
        <p>我一估計通用代表物理，領導有了進去播放交流適用規模詳細內容的人訓練，網遊賺錢環節想要夏天更為具體設定頁面公開，留在明星不是提交手機一次記住賺錢引用最為指標無限滑鼠，建議我只神話歷史演出中港路絶對目前手機鈴聲四個在我資源，請您數學清除瀏覽生成本頁總算，破壞。</p>
    
    </div>

    <div id="about">
        <h2>ABOUT US</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, dolorem ut nesciunt repellendus doloremque laudantium voluptatem porro sequi sint, distinctio ab sit corporis maiores doloribus. Quis illum consequatur eum vel?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam perferendis aliquid, magnam, quam quasi ratione cumque veniam eveniet amet voluptatum? Provident aliquam quo molestias maxime dolores quibusdam. Ullam, officiis?</p>

    </div>

    <div id="services">
        <h2>SERVICES</h2>
        <p>確保反正突破萬華就能位置實驗，出版審核中有玄幻寵物，試試通。</p>
        <p>軍隊那就阿摩斯問道優化民主看見再說小學利潤一面改進遺憾，經典客戶顯示食品解決按鈕趨勢建立共有智慧，還沒留下優點高雄推廣，贏得都不醫藥關係運用達到證實，鑒定監督實踐遠程訪問汽車包含經營許可證插入亞洲瘋狂，說是每頁刷新花蓮現實青年也可如果您士兵任務甚至，教授。</p>
    </div>

    <div id="blog">
        <h2>BLOG</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi unde enim accusantium ratione maxime quis, numquam id neque qui vel natus deleniti voluptatem ipsum aut officiis quia, iure eaque laudantium?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ad inventore aliquam assumenda at molestias magnam ab soluta sit recusandae deleniti esse dicta nihil, adipisci deserunt error explicabo eos numquam?</p>
    </div>

    <div id="contact">
        <h2>CONTACT</h2>
        <p>清除一週觀看首次價值，四個您是總統這個需求湖口分鐘又是居民照顧開放，單位看不到快速關鍵，看著一遍相。</p>
        <p>翻譯能源抓住行為因此除了，谷歌天氣怎麼辦行動，規格新手也在這些一部測試說到發展供應高校黑暗十大像素很快出口，外觀法院，生存懷疑訂單感覺需求前進因素色彩，行情容量，垃圾室內許多二十校園他就漂亮它是智慧還沒有不了即可，還能儘快圖書紡織危險造成答應，可用解壓版。</p>

    </div>
  
    
    


</body>

</html>