body {
    background-color: rgb(238, 240, 220);
}

h1 {
    font-size: 50px;
    color: blue;
    font-weight: bolder;
    /* font-weight: normal; */
    text-align: center;
}

h2 {
    font-size: 30px;
    background-color: #f09393;
}

p {
    font-style: normal;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 0cm;
}