<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tplt1</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="image-container">
        <figure>
            <img src="image1.png" alt="Description of Image 1">
            <figcaption>This is the description for Image 1.</figcaption>
        </figure>

        <figure>
            <img src="image2.png" alt="Description of Image 2">
            <figcaption>This is the description for Image 2.</figcaption>
        </figure>
    </div>

</body>
</html>


