body{
    /* background-image: url(./bg02.gif); */
    background-image: url(./1920x1200.jpg);
    background-attachment: fixed;
}

div{
    background-color: rgba(244, 242, 238, 0.468);
    /* background-image: url(./bg03.jpg),url(./bg06.png),url(./bg08.png); */

    background-image: url(./bg06.png), url(./bg08.png);

    /* background-image: url(./bg03.jpg); */

    /* background-repeat: no-repeat,repeat-x,no-repeat; */

    /* repeat vertically */
    /* background-repeat: repeat; */

    background-repeat: no-repeat;

    /* background-position: right top center; */
    background-position: top;


    /* width: 1200px; */
    width: 80%;
    margin: 0 auto;
    border: 20px solid rgba(244, 242, 238, 0.825);
  
}